{% extends "viewlog.html" %}

{% block descriptionPanel %}
<p>Logs for the current action.</p>
{% endblock descriptionPanel %}

{% block scripts %}
{{ super() }}
<script src="{{ get_filename_with_last_update_time('static/js/actionprogress.js') }}"></script>
{% endblock scripts %}
