{% extends "page-content.html" %}

{% block head %}
{{ super() }}
<meta name="stackToAdmin" value={{ stackToAdmin }}>
{% endblock head %}

{% block mainFlexContent %}
<div class="aui-group">
    <h3>Updates</h3>
    <p>Allows you to pull changes from upstream git repositories for CloudFormation templates or Weaver itself.</p>
    <div class="aui-group">
        <a id="gitRepoSelector" href="#gitRepoDropdownDiv" aria-owns="gitRepoDropdownDiv" aria-haspopup="true"
           class="aui-button aui-style-default aui-dropdown2-trigger">
            Select Repository
        </a>

        <!-- Dropdown -->
        <div id="gitRepoDropdownDiv" class="aui-style-default aui-dropdown2"></div>
    </div>
    <div class="aui-group">
            <button id="updateTemplatesBtn" type="submit" class="aui-button aui-button-primary update-templates update-disabled" aria-disabled="true" disabled="true">
            </button>
        </div>
</div>

<div class="aui-group">
    <h3>Restart Weaver</h3>
    <p>Restart the Weaver application. This will stop any in progress actions in Weaver, but will not affect any actions that are in progress in Cloudformation.</p>
    <div class="aui-group">
        <button id="restartWeaverBtn" type="submit" class="aui-button aui-button-primary">
            Restart Weaver
        </button>
    </div>
</div>

<div class="aui-group">
    <h3>Stack locking</h3>
    <p>Locking stacks prevents multiple actions from being performed on a stack at the same time</p>
    <form class="aui">
        <fieldset class="group">
            <div class="checkbox">
                <input class="checkbox" type="checkbox" name="lockStacksCheckBox" id="lockStacksCheckBox" onclick="setStackLocking()">
                <label for="lockStacksCheckBox">Enable stack locking</label>
            </div>
        </fieldset>
    </form>

    <h5 class="component-heading">Currently locked stacks (multi region)</h5>
    <div class="aui-group">
        <a id="lockedStackSelector" href="#lockedStacksDropdownDiv" aria-owns="lockedStacksDropdownDiv" aria-haspopup="true"
           class="aui-button aui-style-default aui-dropdown2-trigger">
            Select Stack
        </a>

        <!-- Dropdown -->
        <div id="lockedStacksDropdownDiv" class="aui-style-default aui-dropdown2"></div>
    </div>
    <div class="aui-group">
            <p id="lock-state" hidden>Action in progress: </p>
    </div>
    <div class="aui-group" id="unlock-warning" hidden>
        <div class="aui-message aui-message-warning">
            <p>Only unlock if you are certain the stack is locked in error. Performing multiple actions against a stack can result in corruption.</p>
        </div>
    </div>
</div>
{% endblock mainFlexContent %}

{% block gitRepoStatusPanel %}
{#    Template Repo Status Panel    #}
<div id="repoInfo">
    <h3 id="gitRepoName"></h3>
    <div id="gitRepoInformation">
        <p id="currentBranch">Current Branch: </p>
        <p id="commitsDifference">Commit Difference to Origin: </p>
        <p id="gitUpdateMessage"></p>
    </div>
</div>
{% endblock gitRepoStatusPanel %}

{% block buttonText %}Unlock{% endblock buttonText %}

{% block scripts %}
{{ super() }}
<script src="{{ get_filename_with_last_update_time('static/js/admin.js') }}"></script>
{% endblock scripts %}
