{% extends "template-params.html" %}

{% block descriptionPanel %}
<p>Create a clone of an instance from database and filesystem snapshots. This will first destroy the stack if one exists by the name entered for the clone, then create a new stack from the selected snapshots. If there is a SQL file to run against clones of the instance being cloned, or a SQL file for stacks of this name, they will be run once the service is up, and a restart will be performed. See Run SQL for more information.</p>
{% endblock descriptionPanel %}

{% block stackSelectorDescription %}
Select stack to clone
{% endblock stackSelectorDescription %}

{% block stackStatusPanel %}
{% endblock stackStatusPanel %}

{% block extraActionsDropdownItems %}
<aui-item-link id="getCloneDefaults-button" disabled>Get clone defaults</aui-item-link>
{{ super() }}
{% endblock extraActionsDropdownItems %}

{% block extraParams %}
<div id="clone-params" style="display: none;">
    <div class="field-group param-field-group" id="stack-name-input">
        <label for="StackNameVal" class="paramLbl">Stack Name</label>
        <input class="text" type="text" name="StackNameVal" id="StackNameVal"
               data-aui-validation-field required pattern="[a-zA-Z][-a-zA-Z0-9]*"
               maxlength={{ session['stackname_length'] }}
               data-aui-validation-pattern-msg="Stack name must be a max of {{ session['stackname_length'] }} chars and satisfy regular expression pattern: [a-zA-Z][-a-zA-Z0-9]*"/>
    </div>
    <div class="field-group param-field-group">
        <label for="RegionVal" class="paramLbl">Region</label>
        <select id="RegionVal" name="RegionVal">
            {% for region in session['regions'] %}
            <option value="{{ region[0] }}" {% if loop.first == true %}selected {% endif %}>{{ region[0] }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock extraParams %}

{% block buttonText %}Clone{% endblock buttonText %}

{% block scripts %}
{{ super() }}
<script src="{{ get_filename_with_last_update_time('static/js/clone.js') }}"></script>
{% endblock scripts %}
