{% extends "template-params.html" %}

{% block descriptionPanel %}
<p>Create new instances of Confluence, Crowd or Jira</p>
<p>Bitbucket support is currently being implemented and may not work as expected yet</p>
{% endblock descriptionPanel %}

{% block stackSelector %}
{% endblock stackSelector %}

{% block stackStatusPanel %}
{% endblock stackStatusPanel %}

{% block productSelector %}
<a id="productSelector" href="#productSelection" aria-owns="productSelection" aria-haspopup="true"
   class="aui-button aui-style-default aui-dropdown2-trigger">
    Select Product
</a>
<!-- Product dropdown -->
<div id="productSelection" class="aui-style-default aui-dropdown2">
    <ul class="aui-list-truncate">
        {% for product in session['products'] %}
        <li><a class="selectProductOption">{{ product }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock productSelector %}

{% block extraParams %}
<div class="field-group param-field-group" id="stack-name-input">
    <label for="StackNameVal" class="paramLbl">Stack Name</label>
    <input class="text" type="text" name="StackNameVal" id="StackNameVal"
           data-aui-validation-field required pattern="[a-zA-Z][-a-zA-Z0-9]*"
           maxlength={{ session['stackname_length'] }}
           data-aui-validation-pattern-msg="Stack name must be a max of {{ session['stackname_length'] }} chars and satisfy regular expression pattern: [a-zA-Z][-a-zA-Z0-9]*">
</div>
{% endblock extraParams %}

{% block buttonText %}Create{% endblock buttonText %}

{% block scripts %}
{{ super() }}
<script src="{{ get_filename_with_last_update_time('static/js/create.js') }}"></script>
{% endblock scripts %}
