{% extends "page-content.html" %}

{% block descriptionPanel %}
<p>Tear stacks down. Note, this will immediately destroy the stack and all associated resources.</p>
{% endblock descriptionPanel %}

{% block modalConfirmTitle %}Confirm deletion{% endblock modalConfirmTitle %}
{% block modalConfirmContents %}
    <p>Are you sure you want to delete <label id="stack-to-delete"></label>?</p>
    <form class="aui">
        <fieldset class="group">
            <div class="checkbox">
                <input class="checkbox" type="checkbox" name="deleteChangelogs" id="deleteChangelogs">
                <label for="deleteChangelogs">Remove changelogs from S3</label>
            </div>
            <div class="checkbox">
                <input class="checkbox" type="checkbox" name="deleteThreadDumps" id="deleteThreadDumps">
                <label for="deleteThreadDumps">Remove thread dumps from S3</label>
            </div>
        </fieldset>
    </form>
{% endblock modalConfirmContents %}

{% block buttonText %}Destroy{% endblock buttonText %}

{% block scripts %}
{{ super() }}
<script src="{{ get_filename_with_last_update_time('static/js/destroy.js') }}"></script>
{% endblock scripts %}
