{% extends "page-content.html" %}

{% block descriptionPanel %}
<p>Run diagnostics against each node in the cluster, or individual nodes. When run against entire cluster, thread dumps are run concurrently, heap dumps are run sequentially.</p>
<p>Note that taking heap dumps can cause the node to stop responding for the duration of the dump; on larger heaps this can cause nodes to be removed from the load balancer briefly.</p>
{% endblock descriptionPanel %}

{% block extraInput %}
    {% block nodeSelector %}
        <a id="nodeSelector" href="#nodeSelection" aria-owns="nodeSelection" aria-haspopup="true"
           class="aui-button aui-style-default aui-dropdown2-trigger">
            All Nodes
        </a>
        <!-- Nodes dropdown -->
        <div id="nodeSelection" class="aui-style-default aui-dropdown2">
            <ul class="aui-list-truncate" id="nodesList"></ul>
        </div>
    {% endblock nodeSelector %}
{% endblock extraInput %}

{% block mainFlexContent %}
<div id="cpuChartDiv"></div>
<div class="aui-group">
    <h3>Thread dumps</h3>
    <p><button class="aui-button" id="threadDumpBtn" aria-disabled="true" onclick="takeDiagnostics('thread_dump')" disabled><span class="aui-icon aui-icon-small aui-iconfont-location"></span> Take thread dumps</button></p>
    <p><button class="aui-button" id="dlThreadDumpBtn" aria-disabled="true" onclick="downloadDiagnostics('thread_dump')" disabled><span class="aui-icon aui-icon-small aui-iconfont-download"></span> Download thread dumps</button></p>
</div>
<div class="aui-group">
    <h3>Heap dumps</h3>
    <p><button class="aui-button" id="heapDumpBtn"  aria-disabled="true" onclick="takeDiagnostics('heap_dump')" disabled><span class="aui-icon aui-icon-small aui-iconfont-clone-small"></span> Take heap dumps</button></p>
    <p><button class="aui-button" id="dlHeapDumpBtn" aria-disabled="true" onclick="downloadDiagnostics('heap_dump')" disabled><span class="aui-icon aui-icon-small aui-iconfont-download"></span> Download heap dumps</button></p>
</div>
<div class="aui-group">
    <h3>Support zip</h3>
    <p><a id="supzip-tooltip">
            <button class="aui-button" id="supportZipBtn" aria-disabled="true" onclick="showGenerateSupportZipModal()" disabled><span class="aui-icon aui-icon-small aui-iconfont-clone-small"></span> Generate Support Zip</button>
        </a>
    </p>
    <p><a id="supzipdl-tooltip">
            <button class="aui-button" id="dlSupportZipBtn" aria-disabled="true" onclick="downloadDiagnostics('support_zip')" disabled><span class="aui-icon aui-icon-small aui-iconfont-download"></span> Download Support Zip</button>
        </a>
    </p>
</div>
<div class="aui-group" id="indexHealth">
    <h3>Index health</h3>
    <p>
        <a id="simple-tooltip" title="Jira only">
            <button class="aui-button" id="checkIndexHealthBtn" aria-disabled="true" onclick="showIndexHealthModal()" disabled><span class="aui-icon aui-icon-small aui-iconfont-clone-small"></span> Check index health</button>
        </a>
    </p>
</div>

<section id="threaddump-dialog" class="aui-dialog2 aui-dialog2-medium aui-layer" role="dialog" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Download thread dumps</h2>
        <a class="aui-dialog2-header-close" onclick="AJS.dialog2('#threaddump-dialog').hide();">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-dialog2-content" id="threaddump-dialog-content">
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
        </div>
    </footer>
</section>

<section id="supportzip-dialog" class="aui-dialog2 aui-dialog2-medium aui-layer" role="dialog" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Download Support Zip</h2>
        <a class="aui-dialog2-header-close" onclick="AJS.dialog2('#supportzip-dialog').hide();">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-dialog2-content" id="supportzip-dialog-content">
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
        </div>
    </footer>
</section>

<section id="heapdump-dialog" class="aui-dialog2 aui-dialog2-medium aui-layer" role="dialog" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Download heap dumps</h2>
        <a class="aui-dialog2-header-close" onclick="AJS.dialog2('#heapdump-dialog').hide();">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-dialog2-content" id="heapdump-dialog-content">
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
        </div>
    </footer>
</section>
{% endblock mainFlexContent %}

{% block button %}
{% endblock button %}

{% block scripts %}
{{ super() }}
<script src="{{ get_filename_with_last_update_time('static/js/diagnostics.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock scripts %}
