{% extends "page-content.html" %}

{% block descriptionPanel %}
<p>Reboot all EC2 nodes in a cluster or auto scaling group one by one. This action shuts down the product, and then issues <code>systemctl reboot</code> to the underlying EC2 node.</p>
<p>NB: If there is only one node in the cluster or auto scaling group, this action will result in downtime.</p>
<p>Any unhealthy nodes in the cluster will be rebooted before healthy nodes. Weaver will wait for each node to respond on /status and be registered in the load balancer before beginning to reboot the next node.</p>
{% endblock descriptionPanel %}

{% block extraInput %}
{% block asgSelector %}
<a id="asgSelector" href="#asgSelection" aria-owns="asgSelection" aria-haspopup="true" class="aui-button aui-style-default aui-dropdown2-trigger">
    Select ASG
</a>
<!-- ASG dropdown -->
<div id="asgSelection" class="aui-style-default aui-dropdown2">
    <ul class="aui-list-truncate" id="asgList"></ul>
</div>
{% endblock asgSelector %}
{% endblock extraInput %}

{% block mainFlexContent %}
<form class="aui">
    <fieldset class="group">
        <legend><span>Options</span></legend>
        <div id="drainOptionsDiv">
            <div class="checkbox">
                <input class="checkbox" type="checkbox" name="drainNodes" id="drainNodes" disabled checked>
                <label for="drainNodes">Drain nodes from the load balancer(s) before restarting. NB: Only works for ELBV2/NLB load balancers, and will cause the restart to be slower.</label>
            </div>
            <div class="radio">
                <input class="radio" type="radio" name="drainType" id="full" value="DEFAULT" checked="checked">
                <label for="full">Full drain</label>
            </div>
            <div class="radio" id="fastNodeDrainDiv">
                <input class="radio" type="radio" name="drainType" id="fast" value="FAST">
                <label for="fast">Fast drain</label>
            </div>
        </div>
    </fieldset>
</form>
{% endblock mainFlexContent %}

{% block buttonText %}Rolling EC2 Node Reboot{% endblock buttonText %}

{% block scripts %}
{{ super() }}
<script src="{{ get_filename_with_last_update_time('static/js/ec2rollingreboot.js') }}"></script>
{% endblock scripts %}
