<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="credentials" value={{ session['credentials'] }}>
        <meta name="region" value={{ session['region'] }}>
        <meta name="stack_locking" value={{ session['stack_locking'] }}>
        <meta name="platform" value={{ session['platform'] }}>
        {%if session['saml'] %}
        <meta name="email" value={{ session['saml']['attributes']['User.Email'][0] }}>
        <meta name="avatar_url" value={{ session['avatar_url'] }}>
        {%endif %}

        {#    AUI    #}
        <link rel="stylesheet" href="/static/aui/aui-prototyping.css" media="all">
        <link rel="stylesheet" href="/static/aui/aui-prototyping-darkmode.css" media="all">
        <link rel="stylesheet" href="{{ get_filename_with_last_update_time('static/css/index.css') }}">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <title>Atlassian Labs Data Center Weaver</title>
        {% block head %}
        {% endblock head %}

    </head>
    <body class="{{ session['action_name'] }} aui-page-sidebar">
        <div id="page">

            <header id="header" role="banner">
                <nav class="aui-header aui-dropdown2-trigger-group" role="navigation" data-aui-responsive="true" aria-label="site">
                    <div class="aui-header-primary">
                        <!-- Header -->
                        <span id="logo" class="aui-header-logo aui-header-logo-textonly">
                            <a href="/">Weaver</a>
                        </span>
                        <!-- Horizontal nav bar-->
                        <ul class="aui-nav">
                            {% block hnavitems %}
                            {% for region, region_name in session['regions'] %}
                            <li>
                                <a {%if session['region'] == region %}class="region-selected"{%endif%} href="{{ url_for('main.setregion', region=region) }}">
                                    {{ region_name }}
                                </a>
                            </li>
                            {% endfor %}
                            {% endblock %}
                        </ul>
                    </div>
                    {%if session['saml'] %}
                    <div class="aui-header-secondary">
                        <ul class="aui-nav">
                            <li class="user-dropdown">
                                <a href="#user-nav1" aria-owns="user-nav1" aria-haspopup="true" class="aui-dropdown2-trigger aui-dropdown2-trigger">
                                    <span class="aui-avatar aui-avatar-small">
                                        <span class="aui-avatar-inner">
                                            <img id="avatar-small" src="" />
                                        </span>
                                    <span>
                                </a>
                                <!-- Dropdown -->
                                <div id="user-nav1" class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" data-dropdown2-alignment="right">
                                    <ul class="aui-list-truncate">
                                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </nav>
            </header>

            <div id="content">

                <section class="aui-sidebar" aria-label="sidebar">
                    <div class="aui-sidebar-wrapper">
                        <div class="aui-sidebar-body">
                            <nav class="aui-navgroup aui-navgroup-vertical" aria-label="Sidebar navigation">
                                <div class="aui-navgroup-inner">
                                    <div class="aui-sidebar-group aui-sidebar-group-tier-one">
                                        <div class="aui-nav-heading">
                                            <strong>Stack Actions</strong>
                                        </div>
                                        <ul class="aui-nav">
                                            <li {% if session['platform'] == 'k8s' %} class="sidebar-action-disabled" {% endif %}
                                                    {% if session['action_name'] == 'create' %} class="aui-nav-selected" {% endif %} >
                                                <a href="{{ url_for('main.create') }}" aria-owns="aui-menu-create" class="aui-nav-item" id="create-link">
                                                    <span class="aui-nav-item-label">{{ get_nice_action_name('create') }}</span>
                                                </a>
                                            </li>
                                            <li {% if session['platform'] == 'k8s' %} class="sidebar-action-disabled" {% endif %}
                                                    {% if session['action_name'] == 'update' %} class="aui-nav-selected" {% endif %} >
                                                <a href="{{ url_for('main.update') }}" aria-owns="aui-menu-update" class="aui-nav-item" id="update-link">
                                                    <span class="aui-nav-item-label">{{ get_nice_action_name('update') }}</span>
                                                </a>
                                            </li>
                                            <li {% if session['platform'] == 'k8s' %} class="sidebar-action-disabled" {% endif %}
                                                    {% if session['action_name'] == 'clone' %} class="aui-nav-selected" {% endif %} >
                                                <a href="{{ url_for('main.clone') }}" aria-owns="aui-menu-clone" class="aui-nav-item" id="clone-link">
                                                    <span class="aui-nav-item-label">{{ get_nice_action_name('clone') }}</span>
                                                </a>
                                            </li>
                                            <li {% if session['platform'] == 'k8s' %} class="sidebar-action-disabled" {% endif %}
                                                    {% if session['action_name'] == 'destroy' %} class="aui-nav-selected" {% endif %} >
                                                <a href="{{ url_for('main.destroy') }}" aria-owns="aui-menu-destroy" class="aui-nav-item" id="destroy-link">
                                                    <span class="aui-nav-item-label">{{ get_nice_action_name('destroy') }}</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="aui-nav-heading">
                                            <strong>Node Management</strong>
                                        </div>
                                        <ul class="aui-nav">
                                            <li {% if session['platform'] == 'k8s' %} class="sidebar-action-disabled" {% endif %}
                                                    {% if session['action_name'] == 'togglenode' %} class="aui-nav-selected" {% endif %} >
                                                <a href="{{ url_for('main.togglenode') }}" aria-owns="aui-menu-togglenode" class="aui-nav-item" id="togglenode-link">
                                                    <span class="aui-nav-item-label">{{ get_nice_action_name('togglenode') }}</span>
                                                </a>
                                            </li>
                                            <li {% if session['platform'] == 'k8s' %} class="sidebar-action-disabled" {% endif %}
                                                    {% if session['action_name'] == 'rollingrebuild' %} class="aui-nav-selected" {% endif %} >
                                                <a href="{{ url_for('main.rollingrebuild') }}" aria-owns="aui-menu-rollingrebuild" class="aui-nav-item" id="rollingrebuild-link">
                                                    <span class="aui-nav-item-label">{{ get_nice_action_name('rollingrebuild') }}</span>
                                                </a>
                                            </li>
                                            <li {% if session['platform'] == 'k8s' %} class="sidebar-action-disabled" {% endif %}
                                                    {% if session['action_name'] == 'rollingreinit' %} class="aui-nav-selected" {% endif %} >
                                                <a href="{{ url_for('main.rollingreinit') }}" aria-owns="aui-menu-rollingreinit" class="aui-nav-item" id="rollingreinit-link">
                                                    <span class="aui-nav-item-label">{{ get_nice_action_name('rollingreinit') }}</span>
                                                </a>
                                            </li>
                                            <li {% if session['platform'] == 'k8s' %} class="sidebar-action-disabled" {% endif %}
                                                    {% if session['action_name'] == 'ec2rollingreboot' %} class="aui-nav-selected" {% endif %} >
                                                <a href="{{ url_for('main.ec2rollingreboot') }}" aria-owns="aui-menu-ec2rollingreboot" class="aui-nav-item" id="ec2rollingreboot-link">
                                                    <span class="aui-nav-item-label">{{ get_nice_action_name('ec2rollingreboot') }}</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="aui-nav-heading">
                                            <strong>Application Management</strong>
                                        </div>
                                        <ul class="aui-nav">
                                            <li {% if session['platform'] == 'k8s' %} class="sidebar-action-disabled" {% endif %}
                                                    {% if session['action_name'] == 'restartnode' %} class="aui-nav-selected" {% endif %} >
                                                <a href="{{ url_for('main.restartnode') }}" aria-owns="aui-menu-restartnode" class="aui-nav-item" id="restartnode-link">
                                                    <span class="aui-nav-item-label">{{ get_nice_action_name('restartnode') }}</span>
                                                </a>
                                            </li>
                                            <li {% if session['platform'] == 'k8s' %} class="sidebar-action-disabled" {% endif %}
                                                    {% if session['action_name'] == 'rollingrestart' %} class="aui-nav-selected" {% endif %} >
                                                <a href="{{ url_for('main.rollingrestart') }}" aria-owns="aui-menu-rollingrestart" class="aui-nav-item" id="rollingrestart-link">
                                                    <span class="aui-nav-item-label">{{ get_nice_action_name('rollingrestart') }}</span>
                                                </a>
                                            </li>
                                            <li {% if session['platform'] == 'k8s' %} class="sidebar-action-disabled" {% endif %}
                                                    {% if session['action_name'] == 'fullrestart' %} class="aui-nav-selected" {% endif %} >
                                                <a href="{{ url_for('main.fullrestart') }}" aria-owns="aui-menu-fullrestart" class="aui-nav-item" id="fullrestart-link">
                                                    <span class="aui-nav-item-label">{{ get_nice_action_name('fullrestart') }}</span>
                                                </a>
                                            </li>
                                            <li {% if session['platform'] == 'k8s' %} class="sidebar-action-disabled" {% endif %}
                                                    {% if session['action_name'] == 'upgrade' %} class="aui-nav-selected" {% endif %} >
                                                <a href="{{ url_for('main.upgrade') }}" aria-owns="aui-menu-upgrade" class="aui-nav-item" id="upgrade-link">
                                                    <span class="aui-nav-item-label">{{ get_nice_action_name('upgrade') }}</span>
                                                </a>
                                            </li>
                                            <li {% if session['action_name'] == 'diagnostics' %} class="aui-nav-selected" {% endif %} >
                                                <a href="{{ url_for('main.diagnostics') }}" aria-owns="aui-menu-diagnostics" class="aui-nav-item" id="diagnostics-link">
                                                    <span class="aui-nav-item-label">{{ get_nice_action_name('diagnostics') }}</span>
                                                </a>
                                            </li>
                                            <li {% if session['platform'] == 'k8s' %} class="sidebar-action-disabled" {% endif %}
                                                    {% if session['action_name'] == 'runsql' %} class="aui-nav-selected" {% endif %} >
                                                <a href="{{ url_for('main.runsql') }}" aria-owns="aui-menu-runsql" class="aui-nav-item" id="runsql-link">
                                                    <span class="aui-nav-item-label">{{ get_nice_action_name('runsql') }}</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="aui-nav-heading">
                                            <strong>Weaver Actions</strong>
                                        </div>
                                        <ul class="aui-nav">
                                            <li {% if session['action_name'] == 'admin' %} class="aui-nav-selected" {% endif %} >
                                                <a href="{{ url_for('main.admin') }}" aria-owns="aui-menu-admin" class="aui-nav-item" id="admin-link">
                                                    <span class="aui-nav-item-label">{{ get_nice_action_name('admin') }}</span>
                                                </a>
                                            </li>
                                            <li {% if session['action_name'] == 'token' %} class="aui-nav-selected" {% endif %} >
                                                <a href="{{ url_for('main.token') }}" aria-owns="aui-menu-tokenadmin" class="aui-nav-item" id="token-link">
                                                    <span class="aui-nav-item-label">{{ get_nice_action_name('token') }}</span>
                                                </a>
                                            </li>
                                            <li {% if session['action_name'] == 'viewlog' %} class="aui-nav-selected" {% endif %} >
                                                <a href="{{ url_for('main.viewlog') }}" aria-owns="aui-menu-viewlog" class="aui-nav-item" id="viewlog-link">
                                                    <span class="aui-nav-item-label">{{ get_nice_action_name('viewlog') }}</span>
                                                </a>
                                            </li>
                                            <li {% if session['action_name'] == 'syslog' %} class="aui-nav-selected" {% endif %} >
                                                <a href="{{ url_for('main.syslog') }}" aria-owns="aui-menu-systemlogs" class="aui-nav-item" id="syslog-link">
                                                    <span class="aui-nav-item-label">{{ get_nice_action_name('syslog') }}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        {% if session['platform'] == 'k8s' %}
                        <div class="aui-sidebar-footer">
                            <div class="aui-message aui-message-warning" id="k8s-warning">
                                The features that are disabled in the sidebar have not yet been implemented for Kubernetes.
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </section>

                <main role="main" id="main">
                    <div class="aui-page-header">
                        <div class="aui-page-header-inner">
                            <div class="aui-page-header-main">
                                <!--Title-->
                                <h1>{{ get_nice_action_name(session['action_name']) or "Atlassian Labs Data Center Weaver" }}</h1>
                            </div>
                        </div>
                    </div>

                    <div class="aui-page-panel">
                        <div class="aui-page-panel-inner">
                            <!-- Page contents-->
                            <section class="aui-page-panel-content">
                                <!--Content-->
                                {% block content %}
                                {% endblock content %}
                            </section>
                        </div>
                    </div>
                </main>
            </div>

            <footer id="footer" role="contentinfo">
                <section class="footer-body">
                    <ul id="aui-footer-list">
                        <li>Copyright &#169; 2009-<script>document.write(new Date().getUTCFullYear());</script> Atlassian</li>
                        <li><a href="https://bitbucket.org/atlassian/atl-labs-dc-weaver/src/main/LICENSE.txt">License</a></li>
                        <li><a href="/admin">Revision: {{ session['weaver_version'] }}</a></li>
                        <li><span id="switch-theme" class="aui-icon aui-icon-small">Toggle Dark Mode</span></li>
                    </ul>
                    <div id="footer-logo"><a href="https://www.atlassian.com/">Atlassian</a></div>
                </section>
            </footer>
        </div>

        <script src="/static/jquery-3.7.1.min.js"></script>
        <script src="/static/aui/aui-prototyping.js"></script>
        <script src="{{ get_filename_with_last_update_time('static/js/page-content.js') }}"></script>
        <script src="{{ get_filename_with_last_update_time('static/js/utils.js') }}"></script>
        <script src="{{ get_filename_with_last_update_time('static/js/avatar.js') }}"></script>
        <script src="{{ get_filename_with_last_update_time('static/js/darkmode.js') }}"></script>
        {% block scripts %}
        {% endblock scripts %}

        {%if config['ANALYTICS'] %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124483963-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-124483963-2');
        </script>
        {%endif%}

        <!--Message bar-->
        <div id="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <script>
                displayAUIFlag('{{ message }}', '{{ category }}', "{% if category != 'error' %}auto{% endif %}");
            </script>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

    </body>
</html>
