{% extends "layout.html" %}

{% block content %}

    <div id="descriptionPanel" class="aui-item">
        {% block descriptionPanel %}
        {% endblock descriptionPanel %}
    </div>

    {% block stackSelector %}
    {#  Stack selector  #}
    <a id="stackSelector" href="#stackSelection" aria-owns="stackSelection" aria-haspopup="true"
       class="aui-button aui-style-default aui-dropdown2-trigger">
        {% block stackSelectorDescription %}
        Select Stack
        {% endblock stackSelectorDescription %}
    </a>

    <!-- Dropdown -->
    <div id="stackSelection" class="aui-style-default aui-dropdown2">
        <ul class="aui-list-truncate">
            {% for stack in session['stacks'] %}
            <li><a class="selectStackOption">{{ stack }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endblock stackSelector %}

    {% block extraInput %}
        {% block productSelector %}
        {% endblock productSelector %}
        {% block templateSelector %}
        {% endblock templateSelector %}
        {% block asgSelector %}
        {% endblock asgSelector %}
        {% block nodeSelector %}
        {% endblock nodeSelector %}
        {% block extraActionsDropdown %}
        {% endblock extraActionsDropdown %}
    {% endblock extraInput %}

    <div class="page-container-flex">
        <div class="page-container-flex-buffer"></div>

        <div class="page-container-flex-primary">
        {% block mainFlexContent %}
            {% block Parameters %}
            {% endblock Parameters %}
            {% block progress %}
            {% endblock progress %}
        {% endblock mainFlexContent %}
        </div>

        <div class="page-container-flex-buffer"></div>

        <div class="page-container-flex-secondary">
        {% block secondaryFlexContent %}
            {#    Current Status Panel    #}
            {% block stackStatusPanel %}
            <div id="stackPanel">
                <section class="aui-page-notification aui-page-size-medium aui-page-panel aui-page-panel-content"  style="text-align: left">
                    <h3 id="stackName"></h3>
                    <div id="pleaseSelectStackMsg" class="aui-page-notification-description">
                        <p>Please select a stack to see it's current information</p>
                    </div>
                    <div id="stackInformation">
                        <p id="product">Product: </p>
                        <p id="stackState">Stack state: </p>
                        <p id="serviceStatus">Service status: </p>
                        <p id="currentAction">Action in progress: </p>
                        <p id="currentVersion">Current version: </p>
                        <h4 id="nodesHeader">Nodes (<span id="nodesCount">0</span>):</h4>
                        <div id="nodes"></div>
                    </div>
                </section>
            </div>
            {% endblock stackStatusPanel %}
            {% block gitRepoStatusPanel %}
            {% endblock gitRepoStatusPanel %}
        {% endblock secondaryFlexContent %}
        </div>

        <div class="page-container-flex-buffer"></div>

    </div>

{% block button %}
{#  Button to perform page action  #}
<div class="aui-group">
    <button id="action-button" type="submit" class="aui-button aui-button-primary" aria-disabled="true">
        {% block buttonText %}Ok{% endblock buttonText %}
    </button>
</div>
{% endblock button %}

<!-- -->
<!-- Modal prompts -->
<!-- All close on OK and Cancel by default -->
<!-- -->

<!-- Modal auth prompt -->
<section id="modal-auth-dialog" class="aui-dialog2 aui-dialog2-large aui-layer" data-aui-modal="true" role="dialog" hidden>
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main" id="modal-auth-title">{% block modalAuthTitle %}Authentication{% endblock modalAuthTitle %}</h2>
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-dialog2-content" id="modal-auth-contents">
        {% block modalAuthContents %}
            {% block modalAuthDesc %}
                <p>This action requires admin authentication within the product.<br><br></p>
            {% endblock modalAuthDesc %}
            {% block modalAuthPanel %}
            <p>NB: We do NOT recommend entering your credentials unless both Weaver and the product use SSL.<br><br>
                Please enter your administrator Personal Access Token:</p>
            <form class="aui top-label">
                <fieldset class="top-label">
                    <div class="field-group">
                        <label for="personal_access_token">Personal Access Token</label>
                        <input class="password" type="password" id="personal_access_token" name="personal_access_token">
                    </div>
                </fieldset>
            </form>
            {% endblock modalAuthPanel %}
        {% endblock modalAuthContents %}
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button class="aui-button aui-button-primary" id="modal-auth-ok-btn" onclick="AJS.dialog2('#modal-auth-dialog').hide();">Okay</button>
            <button class="aui-button aui-button-link" id="modal-auth-cancel-btn" onclick="AJS.dialog2('#modal-auth-dialog').hide();">Cancel</button>
        </div>
    </footer>
</section>

<!-- Modal changeset prompt -->
<section id="modal-changeset-dialog" class="aui-dialog2 aui-dialog2-xlarge aui-layer" data-aui-modal="true" role="dialog" hidden>
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main" id="modal-changeset-title">{% block modalChangesetTitle %}Changeset Details - <span id="changesetName"></span>{% endblock modalChangesetTitle %}</h2>
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-dialog2-content" id="modal-changeset-contents">
        {% block modalChangesetContents %}
        <div id="changesetDescription">
            <p>The following changes will be made to stack <strong><span id="changesetStackname"></span></strong>; please review and confirm you wish to proceed.</p>
            <div id='changesetDeletionWarning' class="aui-message aui-message-warning">
                <p class="title">Review this changeset carefully!</p>
                <p>This changeset includes replacement and/or deletion of some resources; proceed with caution.</p>
            </div>
            <table class="aui">
                <thead>
                <tr>
                    <th id="resource-id">Id</th>
                    <th id="resource-type">Type</th>
                    <th id="resource-action">Action</th>
                    <th id="resource-scope">Scope</th>
                    <th id="resource-replacment">Replacement</th>
                </tr>
                </thead>
                <tbody/>
            </table>
        </div>
        {% endblock modalChangesetContents %}
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button class="aui-button aui-button-primary" id="modal-changeset-ok-btn" onclick="AJS.dialog2('#modal-changeset-dialog').hide();">Execute Changeset</button>
            <button class="aui-button aui-button-link" id="modal-changeset-cancel-btn" onclick="AJS.dialog2('#modal-changeset-dialog').hide();">Cancel</button>
        </div>
        <div class="aui-dialog2-footer-hint">
            <div id="fastNodeDrainDiv" style="display:none">
                <input class="checkbox" type="checkbox" id="fastNodeDrainCheckbox" name="fastNodeDrainCheckbox">
                <label for="fastNodeDrainCheckbox" id="fastNodeDrainLabel">Fast node drain</label><br>
            </div>
        </div>
    </footer>
</section>

<!-- Modal confirmation prompt -->
<section id="modal-confirm-dialog" class="aui-dialog2 aui-dialog2-medium aui-layer" data-aui-modal="true" role="dialog" hidden>
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main" id="modal-confirm-title">{% block modalConfirmTitle %}Confirm{% endblock modalConfirmTitle %}</h2>
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-dialog2-content" id="modal-confirm-contents">
        {% block modalConfirmContents %}
            {% block modalConfirmDesc %}
                Are you sure you want to perform this action?
            {% endblock modalConfirmDesc %}
        {% endblock modalConfirmContents %}
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button class="aui-button aui-button-primary" id="modal-confirm-ok-btn" onclick="AJS.dialog2('#modal-confirm-dialog').hide();">{% block modalConfirmBtnName %}Okay{% endblock modalConfirmBtnName %}</button>
            <button class="aui-button aui-button-link" id="modal-confirm-cancel-btn" onclick="AJS.dialog2('#modal-confirm-dialog').hide();">Cancel</button>
        </div>
    </footer>
</section>

<!-- Modal error dialog -->
<section id="modal-error-dialog" class="aui-dialog2 aui-dialog2-medium aui-layer" data-aui-modal="true" role="dialog" hidden>
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main" id="modal-error-title">{% block modalErrorTitle %}Whoops{% endblock modalErrorTitle %}</h2>
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-dialog2-content">
        <div class="aui-message aui-message-error" id="modal-error-contents">
            {% block modalErrorContents %}
                {% block modalErrorDesc %}
                    Something has gone wrong
                {% endblock modalErrorDesc %}
            {% endblock modalErrorContents %}
        </div>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button class="aui-button aui-button-primary" id="modal-error-ok-btn" onclick="AJS.dialog2('#modal-error-dialog').hide();">Okay</button>
        </div>
    </footer>
</section>

<!-- Modal progress dialog -->
<section id="modal-progress-dialog" class="aui-dialog2 aui-dialog2-small aui-layer" data-aui-modal="true" role="dialog" hidden>
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main" id="modal-progress-title">{% block modalProgressTitle %}Please wait{% endblock modalProgressTitle %}</h2>
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-dialog2-content" id="modal-progress-contents">
        {% block modalProgressContents %}
            {% block modalProgressDesc %}
                <p><aui-progressbar indeterminate></aui-progressbar></p>
        {% endblock modalProgressDesc %}
        {% endblock modalProgressContents %}
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button class="aui-button aui-button-link" id="modal-progress-cancel-btn" onclick="AJS.dialog2('#modal-progress-dialog').hide();">Cancel</button>
        </div>
    </footer>
</section>
{% endblock content%}
