{% extends "page-content.html" %}

{% block extraInput %}
{% block nodeSelector %}
{% endblock nodeSelector %}
{% endblock extraInput %}

{% block mainFlexContent %}
<form class="aui">
    <fieldset class="group">
        <legend><span>Diagnostics</span></legend>
        <div class="checkbox">
            <input class="checkbox" type="checkbox" name="takeThreadDumps" id="takeThreadDumps" disabled checked>
            <label for="takeThreadDumps">Take thread dumps</label>
        </div>
        <div class="checkbox">
            <input class="checkbox" type="checkbox" name="takeHeapDumps" id="takeHeapDumps" disabled>
            <label for="takeHeapDumps">Take heap dumps</label>
        </div>
    </fieldset>
</form>
{% endblock mainFlexContent %}

{% block modalConfirmTitle %}Confirm restart{% endblock modalConfirmTitle %}
{% block modalConfirmContents %}
<p>Are you sure you want to restart without taking thread dumps?<br><br>
    Thread dumps generally add ~1 minute to the process and can help troubleshoot application issues.</p>
{% endblock modalConfirmContents %}
{% block modalConfirmBtnName %}Restart{% endblock modalConfirmBtnName %}

{% block scripts %}
{{ super() }}
<script src="{{ get_filename_with_last_update_time('static/js/restart.js') }}"></script>
{% endblock scripts %}
