{% extends "restart.html" %}

{% block extraInput %}
{% block nodeSelector %}
    <a id="nodeSelector" href="#nodeSelection" aria-owns="nodeSelection" aria-haspopup="true"
       class="aui-button aui-style-default aui-dropdown2-trigger">
        Select Node
    </a>
    <!-- Nodes dropdown -->
    <div id="nodeSelection" class="aui-style-default aui-dropdown2">
        <ul class="aui-list-truncate" id="nodesList"></ul>
    </div>
{% endblock nodeSelector %}
{% endblock extraInput %}

{% block mainFlexContent %}
<div id="cpuChartDiv"></div>
<form class="aui">
    <fieldset class="group">
        <legend><span>Options</span></legend>
        <div id="drainOptionsDiv">
            <div class="checkbox">
                <input class="checkbox" type="checkbox" name="drainNodes" id="drainNodes" disabled checked>
                <label for="drainNodes">Drain nodes from the load balancer(s) before restarting. NB: Only works for ELBV2/NLB load balancers, and will cause the restart to be slower.</label>
            </div>
            <div class="radio">
                <input class="radio" type="radio" name="drainType" id="full" value="default" checked="checked">
                <label for="full">Full drain</label>
            </div>
            <div class="radio" id="fastNodeDrainDiv">
                <input class="radio" type="radio" name="drainType" id="fast" value="fast">
                <label for="fast">Fast drain</label>
            </div>
        </div>
        <legend><span>Diagnostics</span></legend>
        <div class="checkbox">
            <input class="checkbox" type="checkbox" name="takeThreadDumps" id="takeThreadDumps" disabled checked>
            <label for="takeThreadDumps">Take thread dumps</label>
        </div>
        <div class="checkbox">
            <input class="checkbox" type="checkbox" name="takeHeapDumps" id="takeHeapDumps" disabled>
            <label for="takeHeapDumps">Take heap dumps</label>
        </div>
    </fieldset>
</form>
{% endblock mainFlexContent %}

{% block descriptionPanel %}
<p>Restart a single node in the cluster.</p>
{% endblock descriptionPanel %}

{% block buttonText %}Restart node{% endblock buttonText %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock scripts %}
