{% extends "page-content.html" %}

{% block extraInput %}
{% block asgSelector %}
<a id="asgSelector" href="#asgSelection" aria-owns="asgSelection" aria-haspopup="true" class="aui-button aui-style-default aui-dropdown2-trigger">
    Select ASG
</a>
<!-- ASG dropdown -->
<div id="asgSelection" class="aui-style-default aui-dropdown2">
    <ul class="aui-list-truncate" id="asgList"></ul>
</div>
{% endblock asgSelector %}
{% endblock extraInput %}

{% block descriptionPanel %}
<p>Destroy and rebuild all nodes in a cluster or auto scaling group, one at a time. Nodes will be drained from the load balancer(s) before being terminated.</p>
{% endblock descriptionPanel %}

{% block mainFlexContent %}
<form class="aui">
    <fieldset class="group">
        <legend><span>Options</span></legend>
        <div id="drainOptionsDiv">
            <div class="checkbox">
                <input class="checkbox" type="checkbox" name="drainNodes" id="drainNodes" disabled checked>
                <label for="drainNodes">Drain nodes from the load balancer(s) before restarting. NB: Only works for ELBV2/NLB load balancers, and will cause the restart to be slower.</label>
            </div>
            <div class="radio">
                <input class="radio" type="radio" name="drainType" id="full" value="default" checked="checked">
                <label for="full">Full drain</label>
            </div>
            <div class="radio" id="fastNodeDrainDiv">
                <input class="radio" type="radio" name="drainType" id="fast" value="fast">
                <label for="fast">Fast drain</label>
            </div>
        </div>
    </fieldset>
</form>
{% endblock mainFlexContent %}

{% block modalAuthTitle %}Check index health?{% endblock modalAuthTitle %}
{% block modalAuthDesc %}
    <p>Should Weaver to wait until the index health on each node before proceeding?
        This allows each new node time to request and restore an index snapshot from a running node.<br><br>
        If yes, enter administrator credentials below. If these fields are left blank, index health will NOT be checked.<br><br></p>
{% endblock modalAuthDesc %}

{% block modalConfirmTitle %}Index will not be restored{% endblock modalConfirmTitle %}
{% block modalConfirmDesc %}
    This stack only has one node, so the index will not be automatically restored on the new node.
    An administrator will have to log in and restore the index from snapshot manually.
{% endblock modalConfirmDesc %}

{% block buttonText %}Rolling Rebuild{% endblock buttonText %}

{% block scripts %}
{{ super() }}
<script src="{{ get_filename_with_last_update_time('static/js/rebuild.js') }}"></script>
{% endblock scripts %}
