{% extends "page-content.html" %}

{% block descriptionPanel %}
<p>Re-initialize cluster nodes by re-executing cfn-init, one at a time. Nodes will be drained from the load balancer before being re-initialized.</p>
{% endblock descriptionPanel %}

{% block mainFlexContent %}
<form class="aui">
    <fieldset class="group">
        <legend><span>Options</span></legend>
        <div id="drainOptionsDiv">
            <div class="checkbox">
                <input class="checkbox" type="checkbox" name="drainNodes" id="drainNodes" disabled checked>
                <label for="drainNodes">Drain nodes from the load balancer(s) before restarting. NB: Only works for ELBV2/NLB load balancers, and will cause the restart to be slower.</label>
            </div>
            <div class="radio">
                <input class="radio" type="radio" name="drainType" id="full" value="default" checked="checked">
                <label for="full">Full drain</label>
            </div>
            <div class="radio" id="fastNodeDrainDiv">
                <input class="radio" type="radio" name="drainType" id="fast" value="fast">
                <label for="fast">Fast drain</label>
            </div>
        </div>
    </fieldset>
</form>
{% endblock mainFlexContent %}

{% block buttonText %}Rolling Re-init{% endblock buttonText %}

{% block scripts %}
{{ super() }}
<script src="{{ get_filename_with_last_update_time('static/js/reinit.js') }}"></script>
{% endblock scripts %}
