{% extends "restart.html" %}

{% block descriptionPanel %}
<p>Restart all nodes in a cluster or auto scaling group one by one. This can only be run on stacks with more than one node in the cluster or ASG, and will not result in downtime.</p>
<p>Any unhealthy nodes in the cluster will be restarted before healthy nodes. Weaver will wait for each node to respond on /status and be registered in the load balancer before beginning to restart the next node.</p>
{% endblock descriptionPanel %}

{% block extraInput %}
{% block asgSelector %}
<a id="asgSelector" href="#asgSelection" aria-owns="asgSelection" aria-haspopup="true" class="aui-button aui-style-default aui-dropdown2-trigger">
    Select ASG
</a>
<!-- ASG dropdown -->
<div id="asgSelection" class="aui-style-default aui-dropdown2">
    <ul class="aui-list-truncate" id="asgList"></ul>
</div>
{% endblock asgSelector %}
{% block nodeSelector %}
{% endblock nodeSelector %}
{% endblock extraInput %}

{% block mainFlexContent %}
<form class="aui">
    <fieldset class="group">
        <legend><span>Options</span></legend>
        <div id="drainOptionsDiv">
            <div class="checkbox">
                <input class="checkbox" type="checkbox" name="drainNodes" id="drainNodes" disabled checked>
                <label for="drainNodes">Drain nodes from the load balancer(s) before restarting. NB: Only works for ELBV2/NLB load balancers, and will cause the restart to be slower.</label>
            </div>
            <div class="radio">
                <input class="radio" type="radio" name="drainType" id="full" value="default" checked="checked">
                <label for="full">Full drain</label>
            </div>
            <div class="radio" id="fastNodeDrainDiv">
                <input class="radio" type="radio" name="drainType" id="fast" value="fast">
                <label for="fast">Fast drain</label>
            </div>
        </div>
        <legend><span>Diagnostics</span></legend>
        <div class="checkbox">
            <input class="checkbox" type="checkbox" name="takeThreadDumps" id="takeThreadDumps" disabled checked>
            <label for="takeThreadDumps">Take thread dumps</label>
        </div>
        <div class="checkbox">
            <input class="checkbox" type="checkbox" name="takeHeapDumps" id="takeHeapDumps" disabled>
            <label for="takeHeapDumps">Take heap dumps</label>
        </div>
    </fieldset>
</form>
{% endblock mainFlexContent %}

{% block buttonText %}Rolling Restart{% endblock buttonText %}
