{% extends "page-content.html" %}

{% block descriptionPanel %}
<p>Run predefined SQL scripts against an instance. Note, the scripts needs to be added to S3 by an administrator - this is not free-form SQL.</p>
<p>SQL files are downloaded from <code>&lt;your S3 bucket&gt;/config</code></p>
<p>For SQL to be run against any clone of an instance, add a .sql file to <code>&lt;your S3 bucket&gt;/config/stacks/&lt;stackname-to-clone&gt;/&lt;stackname-to-clone&gt;-clones-sql.d/</code></p>
<p>For SQL to run against a specific instance, add the file to <code>&lt;your S3 bucket&gt;/config/stacks/&lt;stackname&gt;/local-post-clone-sql.d/</code></p>
<p>Application EC2 nodes require the <code>S3:ListBucket</code> permission in their IAM role, as the node downloads the SQL files directly from S3</p>
{% endblock descriptionPanel %}

{% block buttonText %}Run SQL{% endblock buttonText %}

{% block progress %}
<div class="aui-group" id="runSqlTextArea">
    {#    Progress Panel    #}
    <iframe id="log" src="" height="400">
        Cannot display status because browser does not support iframes.
    </iframe>
</div>
{% endblock progress %}

{% block scripts %}
{{ super() }}
<script src="{{ get_filename_with_last_update_time('static/js/runsql.js') }}"></script>
{% endblock scripts %}
