{% extends "page-content.html" %}

{% block descriptionPanel %}
<p>View the system logs for the Weaver application.</p>
{% endblock descriptionPanel %}

{% block progress %}
<div class="aui-group">
    {#    Progress Panel    #}
    <iframe id="log" src="{{ url_for('main.actionreadytostart') }}" height="400">
        Cannot display status because browser does not support iframes.
    </iframe>
</div>
{% endblock progress %}

{% block scripts %}
{{ super() }}
<script src="{{ get_filename_with_last_update_time('static/js/syslog.js') }}"></script>
{% endblock scripts %}
