{% extends "page-content.html" %}

{% block descriptionPanel %}
<p>Update template parameters for a stack.</p>
{% endblock descriptionPanel %}

{% block templateSelector %}
<a id="templateSelector" href="#templateSelection" aria-owns="templateSelection" aria-haspopup="true"
   class="aui-button aui-style-default aui-dropdown2-trigger">
    Select Template
</a>
<!-- Template dropdown -->
<div id="templateSelection" class="aui-style-default aui-dropdown2">
    <ul class="aui-list-truncate" id="templates"></ul>
</div>
{% endblock templateSelector %}

{% block extraActionsDropdown %}
<button class="aui-button aui-dropdown2-trigger aui-dropdown2-trigger-arrowless" aria-controls="extraActionsDropdown">
    <span class="aui-icon aui-icon-small aui-iconfont-more">More</span>
</button>
<aui-dropdown-menu id="extraActionsDropdown">
    {% block extraActionsDropdownItems %}
    <aui-item-link id="getPreviousParams-button" disabled>Get previous parameters</aui-item-link>
    {% endblock extraActionsDropdownItems %}
</aui-dropdown-menu>
{% endblock extraActionsDropdown %}

{% block Parameters %}
{% block ParametersTop %}
<!-- Parameters -->
<form class="aui long-label" id="paramsForm" style="display: none;">
{% endblock ParametersTop %}
    {% block extraParams %}
    {% endblock extraParams %}

    {% block paramsList %}
    <!-- Parameters -->
    <div id="paramsList"></div>
    {% endblock paramsList %}

    {% block tagsList %}
    <!-- Tags -->
    <div id="tagsList">
        <h4>Tags</h4>
        <p class="tag-description">
            <strong>Note:</strong> Certain tags are necessary for Weaver to function properly; tags which fall into this
            category will be added to stacks created by Weaver automatically (if these tags are present on a stack, do
            not remove them). If a stack was created outside Weaver and/or these tags are otherwise missing for any
            reason, listed below are the tags and their possible values, should you need to add them manually:
            <a id="replace-text-trigger" data-replace-text="(hide table)" class="aui-expander-trigger" aria-controls="tag-description-table">(show table)</a>
        </p>
        <div id="tag-description-table" class="aui-expander-content">
            <table class="aui">
                <thead>
                    <tr>
                        <th id="tag-key">Tag Name</th>
                        <th id="tag-purpose">Purpose</th>
                        <th id="tag-value">Possible/Example Values</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td headers="tag-key"><code>cloned_from</code></td>
                        <td headers="tag-purpose">For cloned stacks only; value should be set to the name of the source stack for this clone</td>
                        <td headers="tag-value">
                            <ul>
                                <li><code>(any stack name)</code></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td headers="tag-key"><code>created_by</code></td>
                        <td headers="tag-purpose">The user who created this stack</td>
                        <td headers="tag-value">
                            <ul>
                                <li><code>(any users name, or "weaver" if entirely unknown at the point of stack creation)</code></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td headers="tag-key"><code>environment</code></td>
                        <td headers="tag-purpose">The environment for this stack</td>
                        <td headers="tag-value">
                            <ul>
                                <li><code>prod</code></li>
                                <li><code>stg</code></li>
                                <li><code>dev</code></li>
                                <li><code>dr</code></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td headers="tag-key"><code>product</code></td>
                        <td headers="tag-purpose">The Atlassian product served by this stack</td>
                        <td headers="tag-value">
                            <ul>
                                <li><code>bitbucket</code></li>
                                <li><code>bitbucket_mesh</code></li>
                                <li><code>bitbucket_mirror</code></li>
                                <li><code>confluence</code></li>
                                <li><code>crowd</code></li>
                                <li><code>jira</code></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td headers="tag-key"><code>repository</code></td>
                        <td headers="tag-purpose">The name of the repository for the CloudFormation template used by this stack</td>
                        <td headers="tag-value">
                            <ul>
                                <li><code>atlassian-aws-deployment</code></li>
                                <li><code>(any custom repository name)</code></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td headers="tag-key"><code>service_name</code></td>
                        <td headers="tag-purpose">The canonical name of this service, regardless of environment</td>
                        <td headers="tag-value">
                            <ul>
                                <li><code>(any service name)</code></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td headers="tag-key"><code>template</code></td>
                        <td headers="tag-purpose">The filename of the CloudFormation template used by this stack</td>
                        <td headers="tag-value">
                            <ul>
                                <li><code>JiraDataCenter.template.yaml</code></li>
                                <li><code>JiraDataCenterClone.template.yaml</code></li>
                                <li><code>(any template filename)</code></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tags-container"></div>
        <div class="buttons-container">
            <button type="button" class="aui-button tag-field-button-add">
                <span class="aui-icon aui-icon-small aui-iconfont-add" aria-label="Add tag"></span> Add tag
            </button>
            <div class="description"></div>
        </div>
    </div>
    {% endblock tagsList %}

    {% block ParametersBottom %}
</form>
{% endblock ParametersBottom %}
{% endblock Parameters %}

{% block scripts %}
{{ super() }}
<script src="/static/base64js.min.js"></script>
<script src="{{ get_filename_with_last_update_time('static/js/template-params.js') }}"></script>
{% endblock scripts %}
