{% extends "page-content.html" %}

{% block extraInput %}
{% block nodeSelector %}
<a id="nodeSelector" href="#nodeSelection" aria-owns="nodeSelection" aria-haspopup="true"
   class="aui-button aui-style-default aui-dropdown2-trigger">
    Select Node
</a>
<!-- Nodes dropdown -->
<div id="nodeSelection" class="aui-style-default aui-dropdown2">
    <ul class="aui-list-truncate" id="nodesList"></ul>
</div>
{% endblock nodeSelector %}
{% endblock extraInput %}

{% block mainFlexContent %}
<div id="toggleNodeMainFlexContent">
    <div id="cpuChartDiv"></div>
    <form class="aui">
        <fieldset class="group">
            <legend><span>Options</span></legend>
            <div class="checkbox" id="fastNodeDrainDiv">
                <input class="checkbox" type="checkbox" name="fastNodeDrain" id="fastNodeDrain" disabled>
                <label for="fastNodeDrain">Fast node drain</label>
            </div>
            <legend><span>Diagnostics</span></legend>
            <div class="checkbox">
                <input class="checkbox" type="checkbox" name="takeThreadDumps" id="takeThreadDumps" disabled>
                <label for="takeThreadDumps">Take thread dumps</label>
            </div>
            <div class="checkbox">
                <input class="checkbox" type="checkbox" name="takeHeapDumps" id="takeHeapDumps" disabled>
                <label for="takeHeapDumps">Take heap dumps</label>
            </div>
        </fieldset>
    </form>
</div>
{% endblock mainFlexContent %}

{% block descriptionPanel %}
<p>Toggle the registration of the node in the load balancer(s). Only works for stacks that use ELBv2/NLB load balancing.</p>
{% endblock descriptionPanel %}

{% block buttonText %}Toggle node registration{% endblock buttonText %}

{% block scripts %}
{{ super() }}
<script src="{{ get_filename_with_last_update_time('static/js/togglenode.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock scripts %}
