{% extends "page-content.html" %}
{% block head %}
{{ super() }}
<script src="{{ get_filename_with_last_update_time('static/js/token_admin.js') }}"></script>
{% endblock head %}

{% block descriptionPanel %}
<p>Create "refresh" tokens for authentication to this Weaver server; these tokens are used to request short-lived access tokens for API access to Weaver actions.</p>
{% endblock descriptionPanel %}

{% block mainFlexContent %}
<table id="activeTokensTable" class="aui aui-table-list">
    <thead>
        <tr>
            <th>JWT ID</th>
            <th>Created Date</th>
            <th>Expiration Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for token in tokens %}
        <tr>
            <td>{{ token.jti }}</td>
            <td><time datetime="{{ token.created_at }}">{{ token.created_at }}</time></td>
            <td><time datetime="{{ token.expires_at }}">{{ token.expires_at }}</time></td>
            <td><button class="aui-button aui-button-link token-revoke">Revoke</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock mainFlexContent %}

{% block buttonText %}Create Token{% endblock buttonText %}

{% block modalConfirmTitle %}Token created{% endblock modalConfirmTitle %}
{% block modalConfirmContents %}
    <p>A new token has been created, please save it somewhere secure for future use.</p>
    <div id="tokenDisplayMessage" class="aui-message">
        <pre id="tokenContent" style="white-space: pre-wrap;"></pre>
    </div>
{% endblock modalConfirmContents %}

{% block scripts %}
{{ super() }}
<script src="{{ get_filename_with_last_update_time('static/js/token_admin.js') }}"></script>
{% endblock scripts %}
