{% extends "page-content.html" %}

{% block descriptionPanel %}
<p>Enter the version you want to upgrade to. In addition to version, an optional URL can be provided for an alternative product installation file. This is mostly used internally at Atlassian for testing purposes.</p>
<h5>Traditional upgrade process</h5>
<p>Weaver will destroy all the current nodes immediately, and create new ones on the new version, by first bringing up one node to run the upgrade tasks, then bringing up the rest.</p>
<h5>Zero Downtime (ZDU)/Rolling upgrades</h5>
<p>Upgrades can be done with no downtime if you have more than one node in the cluster, are on a ZDU/rolling upgrade compatible version, and have the credentials of an account with the System Administrator permission in the application.</p>
<p>In this case, you can choose whether the existing nodes will be destroyed/replaced or upgraded in-place one by one.</p>
<h5>Bitbucket</h5>
<p>Currently Bitbucket can only support rolling upgrades (ie no downtime) for minor versions, ie 7.9.0 to 7.9.3. Watch <a href="https://jira.atlassian.com/browse/BSERV-7894">BSERV-7894</a> for updates on major/feature version rolling upgrade compatibility.</p>
<h5>Confluence</h5>
<p>As of 7.14, Confluence supports rolling upgrades between minor versions, and to the next major/feature version, ie 7.9.0 to 7.9.1, and 7.14.x to 7.15.x. See <a href="https://confluence.atlassian.com/doc/upgrade-confluence-without-downtime-1027127923.html">Upgrade Confluence without downtime</a> for more information.</p>
{% endblock descriptionPanel %}

{% block mainFlexContent %}
<div class="aui-group">
    <form id="upgradeForm" class="aui top-label">
        <fieldset class="top-label">
            <div class="field-group top-label">
                <label for="upgradeVersionSelector">Upgrade Version</label>
                <input class="text" type="text" name="upgradeVersionSelector" id="upgradeVersionSelector" disabled
                       data-aui-validation-field required pattern="\d+\.\d+\.\d+(-?.*)"
                       data-aui-validation-pattern-msg="Version must satisfy regular expression pattern: \d+\.\d+\.\d+(-?.*)">
            </div>
            <div class="field-group top-label">
                <label for="alternateDownloadUrl">Product Alternate Download URL (optional)</label>
                <input class="text" type="text" id="alternateDownloadUrl" name="alternateDownloadUrl" disabled>
            </div>
            <div class="field-group top-label">
                <label>ZDU Options</label>
                <div id="zduCheckDiv" style="display:none">
                    <label id="zduCheckLbl" style="opacity: 0.5">Checking Zero Downtime/Rolling Upgrade compatibility ...</label>
                </div>
                <div id="performZDUDiv" style="display:none">
                    <div class="checkbox">
                        <input class="checkbox" type="checkbox" name="zduCheckBox" id="zduCheckBox">
                        <label id="zduCheckBoxLbl" for="zduCheckBox">Perform ZDU/Rolling upgrade</label>
                    </div>
                    <div class="radio">
                        <input class="radio" type="radio" name="zduType" id="rebuild" value="rebuild" checked="checked">
                        <label for="rebuild">via Rolling Rebuild (existing nodes will be replaced)</label>
                    </div>
                    <div class="radio">
                        <input class="radio" type="radio" name="zduType" id="inplace" value="inplace">
                        <label for="inplace">via In-Place Upgrade (existing nodes will be re-used/re-initalized)</label>
                    </div>
                </div>
            </div>
            <div class="field-group top-label">
                <label>Other Options</label>
                <div id="otherOptionsCheckDiv" style="display:none">
                    <label id="otherOptionsCheckLbl" style="opacity: 0.5">Checking other options available ...</label>
                </div>
                <div class="checkbox" id="inPlaceUpgradeDiv" style="display:none">
                    <input class="checkbox" type="checkbox" name="inPlaceUpgradeCheckbox" id="inPlaceUpgradeCheckbox">
                    <label for="inPlaceUpgradeCheckbox">In-Place Upgrade (existing nodes will be re-used/re-initalized)</label>
                    <div id="inPlaceUpgradeOptions">
                        <div class="checkbox" id="skipNodeDrainDiv" style="margin: 0.2em 0 0 1em">
                            <input class="checkbox" type="checkbox" name="inPlaceUpgradeOption" id="skipNodeDrainCheckbox">
                            <label for="skipNodeDrainCheckbox">Skip Node Drain</label>
                        </div>
                    </div>
                </div>
                <div class="checkbox" id="fastNodeDrainDiv" style="display:none">
                    <input class="checkbox" type="checkbox" name="fastNodeDrainCheckbox" id="fastNodeDrainCheckbox">
                    <label for="fastNodeDrainCheckbox">Fast Node Drain</label>
                </div>
                <div class="checkbox" id="startupPrimaryDiv" style="display:none">
                    <input class="checkbox" type="checkbox" name="startupPrimaryCheckbox" id="startupPrimaryCheckbox">
                    <label for="startupPrimaryCheckbox">Startup Primary Cluster</label>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="aui-group">
    <div class="aui-item">
        <!-- Version checking not currently working, so hiding -->
        <button id="versionCheckButton" class="aui-button" disabled style="display: none;">Check</button>
    </div>
    <div class="aui-item" id="versionExists">
        {#    Filled in by JS    #}
    </div>
    </div>
</div>
{% endblock mainFlexContent %}

{% block buttonText %}Upgrade{% endblock buttonText %}

{% block scripts %}
{{ super() }}
<script src="{{ get_filename_with_last_update_time('static/js/upgrade.js') }}"></script>
{% endblock scripts %}
