/* Overrides */
/*Keep region highlighted when selected*/

.aui-sidebar .aui-sidebar-footer {
    flex-direction: row;
    padding: 0;
}


.region-selected {
    color: #deebff !important;
    background-color: rgba(9,30,66,.48) !important;
}

section.aui-page-panel-content img.hero {
    opacity: 0.3;
    height: 200px;
    margin: 40px 64px;
}

#cpuChart {
    padding-top: 30px;
}

.cpuChartEmpty {
    opacity: 30%;
}

#product, #serviceStatus, #stackState, #currentVersion {
    max-height: 20px;
}

#product .aui-iconfont-warning {
    color: var(--aui-lozenge-moved-bg-color);
    cursor: help;
    margin-left: 6px;
}

#nodes .asgName {
    font-style: italic;
}
#nodes .node {
    background: var(--aui-item-focus-bg);
    border-radius: 6px;
    position: relative;
    margin: 8px 0 8px 14px;
}
#nodes .nodeDetails {
    float: left;
    margin-right: 12px;
    padding: 6px 0 0 6px;
}
#nodes .nodeDetails > div {
    margin-bottom: 2px;
}
#nodes .nodeDetails > div:last-child {
    margin-bottom: 0;
}
#nodes .nodeIp {
    font-family: monospace;
    font-weight: bold;
}
#nodes .instanceId {
    font-family: monospace;
    font-size: small;
}
#nodes .instanceDetails {
    background: var(--aui-itemheading-text);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    clear: both;
    color: var(--aui-lozenge-text-color);
    float: left;
    font-size: 12px;
    font-style: italic;
    margin-top: 5px;
    padding: 2px 6px;
    width: calc(100% - 12px);
}
#nodes .instanceDetails .aui-icon:before {
    font-size: small;
}
#nodes .instanceDetails .aui-icon {
    margin-left: 8px;
}
#nodes .instanceDetails .aui-icon:first-child {
    margin-left: 0;
}
#nodes .statusLozenges {
    float: right;
    padding: 6px 6px 0 0;
    text-align: right;
}

#nodes .statusLozenges .aui-icon {
    --aui-icon-size: 10px;
    padding-right: 3px;
    vertical-align: bottom;
}

#nodes .statusLozenges > div > .aui-lozenge:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
#nodes .statusLozenges > div > .aui-lozenge:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
#nodes .error {
    font-family: monospace;
    font-weight: bold;
}
#nodes .errorDetails {
    font-family: monospace;
    font-size: small;
    max-width: 290px;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.component-heading {
    margin-bottom: 1em;
}

#product aui-spinner, #serviceStatus aui-spinner, #stackState aui-spinner, #currentAction aui-spinner, #currentVersion aui-spinner {
    left: 130px;
    top: -20px;
}

#stackName {
    padding-bottom: 30px;
}

.page-container-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5em 0;
}
.page-container-flex-buffer {
    flex: 1 0 auto;
}
.page-container-flex-primary {
    flex: 3 1 400px;
}
.page-container-flex-secondary {
    flex: 0 1 auto;
}

/* on pages without parameters, hide some of the flex buffers */
body.actionprogress .page-container-flex-buffer,
body.admin .page-container-flex-buffer:first-child,
body.diagnostics .page-container-flex-buffer:first-child,
body.fullrestart .page-container-flex-buffer:first-child,
body.fullrestart .page-container-flex-buffer:first-child,
body.restartnode .page-container-flex-buffer:first-child,
body.runsql .page-container-flex-buffer:first-child,
body.togglenode .page-container-flex-buffer:first-child,
body.token .page-container-flex-buffer:first-child,
body.upgrade .page-container-flex-buffer:first-child,
body.viewlog .page-container-flex-buffer {
    display: none;
}
/* on pages with no stack info, also hide the second flex buffer */
body.token .page-container-flex-secondary {
    display: none;
}
/* on pages with iframes and no stack info, hide everything but the primary flex area */
body.syslog .page-container-flex > :not(.page-container-flex-primary) {
    display: none;
}


#stackPanel .aui-page-notification {
    min-width: 330px;
}

#paramsList {
    min-height: 100px;
}

#paramsList > h4, #tagsList > h4 {
    border-bottom: 2px solid var(--aui-border);
    margin-bottom: 16px;
    word-break: break-word;
}

#templateSelection, #templates {
    min-width: 500px;
}

form.aui.long-label .date-select .field-group, form.aui.long-label .group .field-group, form.aui.top-label .field-group {
    padding: 12px 0;
}
form.aui.long-label .date-select .field-group, form.aui.long-label .group .field-group, form.aui.top-label .field-group:first-child {
    padding-top: 0;
}

form.aui .aui-select2-container .select2-choices,
form.aui .multi-select,
form.aui .password,
form.aui .select,
form.aui .text,
form.aui .textarea,
form.aui aui-select,
form.aui .aui-select2-container,
form.aui div.description {
    max-width: inherit !important;
    width: 100% !important;
}
#upgradeVersionSelector {
    max-width: 250px !important;
}
#alternateDownloadUrl {
    max-width: 900px !important;
}
#username {
    max-width: 300px !important;
}
#personal_access_token {
    max-width: 300px !important;
}
form.aui .param-field-group textarea.textarea {
    font-family: monospace;
}
form.aui .param-field-group input.highlight {
    border-color: var(--aui-flag-warning-color);
}

#drainOptionsDiv {
    margin-top: 5px;
}

#performZDUDiv > .radio {
    margin-left: 20px;
}

#drainOptionsDiv > .radio {
    margin-left: 20px;
}

.aui-dialog2-header-close {
    display: none;
}

.aui-dropdown2-trigger:focus,
.aui-dropdown2:focus,
.aui-dropdown2-active:focus,
aui-select:focus,
.aui-dialog2:focus {
    outline: none;
}

.aui-select2-container .select2-choices .select2-search-choice {
    word-break: break-word;
}
.select2-drop.aui-select2-drop {
    background: var(--aui-dropdown-bg-color);
}

.aui-select2-container.select2-allowclear .select2-choice abbr.select2-search-choice-close {
    display: block;
    height: 13px;
    padding: 5px 5px;
    top: 4px;
    width: 10px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .aui-select2-container.select2-container .select2-choice abbr.select2-search-choice-close {
        background-image: none !important;
    }
}

form.aui p.tag-description {
    color: var(--aui-lesser-body-text);
    font-size: smaller;
}

form.aui #tag-description-table {
    font-size: smaller;
}

form.aui #tag-description-table table.aui>tbody>tr {
    color: var(--aui-lesser-body-text);
}

form.aui .tags-container {
    margin: 10px 0 0;
}

form.aui .tags-flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1em;
    margin-bottom: 1em;
}

form.aui .tags-flex-item {
    flex: 1 0 0;
}

#descriptionPanel {
    padding-bottom: 15px;
    color: #42526E;
}

p > code {
    background-color: var(--aui-lozenge-subtle-bg-color);
    color: var(--aui-lozenge-subtle-text-color);
    border-radius: 4px;
    font-size: small;
    padding: 2px;
}

.aui-message pre:has(code) {
    background-color: var(--aui-lozenge-subtle-bg-color);
    color: var(--aui-lozenge-subtle-text-color);
    border-radius: 4px;
    font-size: small;
    padding: 6px;
}
.aui-message pre > code {
    white-space: pre-wrap;
}

#modal-dialog {
    height: inherit;
}

.aui-dropdown2,
div.aui-popover[role=listbox] {
    max-height: 250px;
    overflow: scroll;
}

#updateTemplatesBtn.update-templates {
    background: #0052CC;
}

#updateTemplatesBtn.update-templates:after {
    content: "Update Repository";
}

#updateTemplatesBtn.update-weaver {
    background: #BF2600;
}

#updateTemplatesBtn.update-weaver:after {
    content: "Update & Restart Weaver";
}

#updateTemplatesBtn.update-disabled {
    background: #F4F5F7;
    color: #A5ADBA;
}

#modal-auth-dialog {
    transition: all 0.5s ease-in-out;
}

#modal-changeset-dialog {
    width: 60%;
}

#modal-changeset-title {
    max-width: initial;
}

.aui-progress-indicator {
    outline: 0;
}

body.actionprogress .page-container-flex-primary .aui-group,
body.viewlog .page-container-flex-primary .aui-group {
    padding-right: 10px;
}

iframe#log {
    width: inherit;
}

#asgSelection.aui-dropdown2 {
    max-width: initial;
}

#asgList aui-spinner,
#nodesList aui-spinner {
    margin:10px;
}

#unlockStackButton {
    height: fit-content;
    margin-left: .3em;
    padding: 0;
}

#footer span.aui-iconfont-lightbulb,
#footer span.aui-iconfont-lightbulb-filled {
    cursor: pointer;
}

.sidebar-action-disabled {
    pointer-events: none;
    cursor: default;
    --aui-item-text: var(--aui-form-disabled-field-label-color) !important;
}
